.navbar {
    background-color: var(--darkColor);
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 4px solid var(--colorGray);
    .icono_menu {
        display: none;
        width: 50px;
        height: 50px;
    }
    .title_app {
        margin: 0;
        text-transform: uppercase;
        color: var(--textNavbarPrimary);
    }
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5);
        z-index: 999;
    }
    .mobile_sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: stretch;
        width: 260px;
        background-color: var(--darkColor);
        z-index: 1000;

        display: flex;
        flex-direction: column;
        // gap: 20px;
        padding: 20px;
        justify-content: space-between;

        transform: translateX(-100%);
        transition: transform 0.3s ease;

        span {
            color: var(--colorTextPrimary);
            text-transform: uppercase;
            cursor: pointer;
        }

        .header_menu_top {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .menu_header {
                margin-bottom: 20px;
                h2 {
                    color: white;
                    margin: 0;
                }
            }
        }

        .options_menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .active {
                color: var(--primaryColor);
                &::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
    .mobile_sidebar.open {
        transform: translateX(0);
    }

    .section_items_buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        .items_menu_options {
            display: flex;
            gap: 20px;
            span {
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                color: var(--colorTextPrimary);
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    width: 100%;
                    height: 2px;
                    background-color: var(--primaryColor);

                    transform: translateX(-50%) scaleX(0);
                    transform-origin: center;
                    transition: transform 0.3s ease;
                }
                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
            .active {
                color: var(--primaryColor);
                &::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        .icono_menu {
            display: block !important;
        }
        .section_items_buttons {
            display: none;
        }
    }
}