<div class="footer">

    <div class="section_footer">
        <div class="description_footer">
            <p class="title_web_footer">Instituto de maquinaria pesada</p>
            <p class="description_web_footer">Líderes en formación técnica industrial y certificación de operadores para minería, construcción y logística.</p>
        </div>

        <div class="mode_info_footer">
            <div class="navegation">
                <p class="title_navegation">Navegación</p>
            </div>
            <div class="social_media">
                <p class="title_social_media">Redes sociales</p>
            </div>
        </div>
    </div>
    

    <div class="footer_copyright">
        <p class="copyright">© {{ actualYear }} INSTITUTO DE MAQUINARIA PESADA | DEPARTAMENTO TÉCNICO</p>
    </div>

</div>