.content_dashboard {
    display: flex;
    .content_page {
        flex: 2;
        .page_complete {
            padding: 20px 3%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .section_header_dashboard {
                .subtitle_resumen {
                    font-size: 12px;
                    margin: 0;
                    color: var(--primaryColor);
                    text-transform: uppercase;
                }
                .title_panel_central {
                    font-size: 48px;
                    margin: 0;
                    color: var(--colorWhite);
                    text-transform: uppercase;
                }
            }
            .information_dashboard {
                display: flex;
                gap: 20px;
                .item_information_dashboard {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 24px;
                    gap: 10px;
                    background-color: var(--colorCardsTechnical);
                    border: 1px solid var(--colorTextTitleBeige);
                    .more_info {
                        display: flex;
                        justify-content: space-between;
                        img {
                            height: 25px;
                        }
                        .more_info_text {
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--colorGreen);
                        }
                        .more_info_text_primary {
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--primaryColor);
                        }
                        .more_info_text_red {
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--colorRed);
                        }
                    }
                    .label_item {
                        margin: 0;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: var(--colorGray);
                    }
                    .value_item {
                        margin: 0;
                        font-size: 36px;
                        color: var(--colorWhite);
                    }
                }
            }
            .charts_information {
                // display: flex;
                background-color: var(--colorCardsTechnical);
                border: 1px solid var(--colorTextTitleBeige);
                .section_title_chart {
                    padding: 20px 25px;
                    .title_chart {
                        text-transform: uppercase;
                        margin: 0;
                        color: var(--colorWhite);
                    }
                }
            }
            .user_registered {
                background-color: var(--colorCardsTechnical);
                border: 1px solid var(--colorTextTitleBeige);
                .header_user_registered {
                    h3 {
                        text-transform: uppercase;
                        color: var(--colorWhite);
                    }
                }
            }
        }
    }
}