/* You can add global styles to this file, and also import other style files */
@use 'fonts';

:root {
    --blackColor: #000000;
    --darkColor: #09090B;
    --primaryColor: #FFD700;
    --textNavbarPrimary: #FACC15;
    --colorTextPrimary: #CBD5E1;
    --colorWhite: #FFFFFF;
    --colorGray: #94A3B8;
    --colorTextSecondary: #705E00;
    --colorTextGray: #C1C7CB;
    --colorGreen: #16A34A;
    --backgroundColorApp: #121414;
    --colorDiviers: #334155;
    --colorTextMoreInfo: #27272A;
    --colorTextFooter: #475569;
    --colorCardsTechnical: #18181B;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FontWeb', sans-serif;
    background-color: var(--backgroundColorApp);
}

.card_open_inscription {
    width: max-content;
    background-color: var(--colorGreen);
    padding: 4px 8px 4px 8px;
    p {
        text-transform: uppercase;
        color: var(--colorWhite);
        margin: 0;
    }
}

.btn {
    text-transform: uppercase;
    padding: 12px 24px 12px 24px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    width: max-content;
}
.btn_primary {
    background-color: var(--primaryColor);
}
.btn_secondary {
    border: 2px solid var(--colorGray);
    background-color: var(--colorWhite);
    color: var(--colorGray);
}
.btn_tertiary {
    border: 2px solid var(--primaryColor);
    background-color: var(--darkColor);
    color: var(--primaryColor);
}